.custom-button {
    position: fixed;
    left: 1px;
    bottom: 1px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: var(--github-button-bakcground);
    color: var(--github-button-textc);
    border: 2px solid #dc3545;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;
}

.custom-button:hover {
    background-color: #dc3545;
    color: #ffffff;
    text-decoration: none;
}

.custom-button svg {
    margin-right: 5px;
    fill: var(--github-button-textc);
}

/* Set SVG fill color */
.custom-button:hover {
    fill: #ffffff;
}

.custom-button:hover svg {
    fill: #ffffff;
}